<article class="post">
  <div class="title">
  <a href="/post/{{id}}">{{title}}</a>
  <span>Posted  by {{user.username}} on {{created_at}}</span>
  </div>
  <div class="post_text">
  {{post_text}}
  </div>
</article>